BasedOnStyle: Microsoft
IndentWidth: 4

# Lines
BreakTemplateDeclarations: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Inline

#
PointerAlignment: Left
ReferenceAlignment: Left

# Access modifiers
AccessModifierOffset: -4
EmptyLineBeforeAccessModifier: Always

# Namespaces
NamespaceIndentation: All
FixNamespaceComments: false

# Arguments and Parameters
BinPackArguments: true
BinPackParameters: OnePerLine
PackConstructorInitializers: NextLine
AlignAfterOpenBracket: BlockIndent 

# Braces 
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel:  true
  AfterClass:      true
  AfterControlStatement: Always
  AfterEnum:       true
  AfterExternBlock: true
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     true
  BeforeElse:      true
  BeforeLambdaBody: true
  BeforeWhile:     true
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true